{% extends "qa/base.html" %}
{% block content %}
<h1>{{ question }}</h1>
<p>{{ question.text }}</p>

<lu>
{% for answer in answers %}
    <li>
        <h3>{{ answer.text }}</h3>
        <lu>
            <li>
                {{ answer.added_at }}
            </li>
            <li>
                {{ answer.author }}
            </li>
        </lu>
       
    </li>
{% endfor %}
</lu>
<form method='POST' action='{{ question.get_absolute_url }}'>
    {% csrf_token %}
    {{ form.as_ul }}
    <button type="submit">Submit</button>
</form>
{% endblock content %}