[Unit]
Description=gunicorn daemon
After=network.target

[Service]

User=www-data
Group=www-data

#RuntimeDirectory=gunicorn

WorkingDirectory=/home/ninja/Stepic/stepic_web_project/ask/
ExecStart=/home/ninja/Stepic/stepic_web_project/env/bin/gunicorn \
    --workers 5 \
    --bind unix:/home/ninja/Stepic/stepic_web_project/gunicorn/gunicorn.sock \
    ask.wsgi:application \
    --access-logfile /home/ninja/Stepic/stepic_web_project/gunicorn/access.log \
    --error-logfile /home/ninja/Stepic/stepic_web_project/gunicorn/error.log
Restart=on-failure

#ExecReload=/bin/kill -s HUP $MAINPID    
#KillMode=mixed
#TimeoutStopSec=5
#PrivateTmp=true

[Install]
WantedBy=multi-user.target